.game {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.game__title {
	text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 16px;
}

@media (max-width: 480px) {
	.game {
		width: 95%;
	}

	.game__title {
		font-size: 2.2rem;
		margin-bottom: 12px;
		padding: 0 10px;
	}
}
