.game {
	width: 80%;
	height: 80%;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}

.game__title {
	text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 16px;
}

@media (max-width: 480px) {
	.game {
		width: 95%;
		margin-top: 70px;
	}

	.game__title {
		font-size: 2.2rem;
		margin-bottom: 12px;
		padding: 0 10px;
	}
}
