* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: url('/backgroundImage.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 16px;
	font-family: 'Comic Sans MS', sans-serif;
	color: #fff;
	background-color: #16288c;
	overflow-y: hidden;
}
