* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
	background-image: url('/backgroundImage.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 14px;
	font-family: sans-serif;
}
